.margin-top-sm {
    margin-top: 0.5vh !;
}

.margin-bottom-sm {
    margin-bottom: 0.5vh;
}

.margin-left-sm {
    margin-left: 0.5vw;
}

.margin-right-sm {
    margin-right: 0.5vw;
}

.margin-top-md {
    margin-top: 1vh;
}

.margin-bottom-md {
    margin-bottom: 1vh;
}

.margin-left-md {
    margin-right: 1vw;
}

.margin-right-md {
    margin-right: 1vw;
}


.margin-top-l {
    margin-top: 2vh;
}

.margin-bottom-l {
    margin-top: 2vh;
}

.margin-left-l {
    margin-left: 2vw;
}

.margin-right-l {
    margin-right: 2vw;
}

.margin-l {
    margin: 2vw;
}


.margin-top-xl {
    margin-top: 4vh;
}

.margin-bottom-xl {
    margin-bottom: 4vh;
}

.margin-left-xl {
    margin-left: 4vw;
}

.margin-right-xl {
    margin-right: 4vw;
}

.margin-xl {
    margin: 5vw;
}


.font-neutral {
    font-family: "ArcherBold";
    margin: 0;
    letter-spacing: 0.1rem;
    color: rgb(255, 255, 255) !important;
}

.fullHeight {
    height: 100%;
}

.fullWidth {
    width: 100%;
}

.fullSize {
    width: 100%;
    height: 100%;
}

.fullScreen {
    height: 100vh;
    width: 100vw;
}

.ant-typography {
    margin: 0.2rem !important;
}