.margin-left-xs {
  margin-left: 0.25vw !important;
}

.margin-top-sm {
  margin-top: 0.5vh !important;
}

.margin-bottom-sm {
  margin-bottom: 0.5vh !important;
}

.margin-left-sm {
  margin-left: 0.5vw !important;
}

.margin-right-sm {
  margin-right: 0.5vw !important;
}

.margin-sm {
  margin: 0.5vh !important;
}

.margin-top-md {
  margin-top: 1vh !important;
}

.margin-bottom-md {
  margin-bottom: 1vh !important;
}

.margin-left-md {
  margin-right: 1vw !important;
}

.margin-right-md {
  margin-right: 1vw !important;
}

.margin-top-l {
  margin-top: 2vh !important;
}

.margin-bottom-l {
  margin-bottom: 2vh !important;
}

.margin-left-l {
  margin-left: 2vw !important;
}

.margin-right-l {
  margin-right: 2vw !important;
}

.margin-l {
  margin: 2vw !important;
}

.margin-top-xl {
  margin-top: 4vh !important;
}

.margin-top-xxl {
  margin-top: 8vh !important;
}

.margin-bottom-xl {
  margin-bottom: 4vh !important;
}

.margin-left-xl {
  margin-left: 4vw !important;
}

.margin-right-xl {
  margin-right: 4vw !important;
}

.margin-xl {
  margin: 5vw !important;
}

.font-neutral {
  font-family: 'ArcherBold';
  margin: 0;
  letter-spacing: 0.1rem;
  color: rgb(255, 255, 255) !important;
}

.fullHeight {
  height: 100% !important;
}

.fullWidth {
  width: 100% !important;
}

.fullSize {
  width: 100% !important;
  height: 100% !important;
}

.fullScreen {
  height: 100vh;
  width: 100vw;
}

.ant-typography {
  margin: 0.3rem !important;
}

.noPadding {
  padding: 0 !important;
}

.panel {
  margin: 0.5vw;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.none {
  display: none;
}

.hidden {
  visibility: hidden;
}

.bold {
  font-weight: bold;
}

.z-index-10000 {
  z-index: 10000 !important;
}

.flex {
  display: flex;
}

.flex-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.no-border {
  border: none;
}
