body,
#root,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.ant-table-placeholder {
  z-index: 100 !important;
}

@import '../../../node_modules/leaflet/dist/leaflet.css';
@import '../../../node_modules/leaflet-geosearch/dist/geosearch.css';
@import '../fonts/font.css';
@import 'common/common.css';
@import 'common/map/_mapElement.css';
@import 'login/_loginView.css';
@import 'home/_homeLayoutView.css';
@import 'home/_homeLayoutViewHeader.css';
@import 'layout/_pageLayoutViewHeader.css';
@import 'layout/_pageLayoutView.css';
@import 'home/_homeLayoutViewSider.css';
@import 'trip/_tripCreateView.css';
@import 'common/input/_customDropdownInput.css';
@import 'common/input/_customCheckboxGroup.css';
@import 'trip/_packingListCopyView.css';
@import 'trip/_packingListUpdateElement.css';
@import 'trip/_weatherView.css';
@import 'trip/itinerary/create/_itineraryStopsView.css';
@import 'trip/itinerary/create/_itineraryDurationView.css';
@import 'trip/itinerary/create/_itineraryCreateView.css';
@import 'trip/itinerary/update/_itineraryMapUpdateView.css';
@import 'trip/itinerary/schedule/_schedule.css';
@import 'trip/itinerary/_itineraryView.css';
@import 'trip/_tripSettingsView.css';
@import 'common/list/_dragAndDropTable.css';
@import 'locale/_localePicker.css';
