body, #root, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

@import "../../../node_modules/leaflet/dist/leaflet.css";
@import "../../../node_modules/leaflet-geosearch/dist/geosearch.css";

@import '../fonts/font.css';
@import 'common/common.css';
@import 'common/map/_mapElement.css';
@import 'login/_loginView.css';
@import 'home/_homeLayoutView.css';
@import 'home/_homeLayoutViewHeader.css';
@import 'home/_homeLayoutViewSider.css';
@import 'trip/_tripCreateView.css';
@import 'common/input/_customInput.css';
@import 'trip/_packingListCreateView.css';
@import 'trip/_weatherView.css'