html {
  width: 100%;
  height: 100%;
  display: table;
}

body {
  height: 100%;
  width: 100%;
  display: table-cell;
}

#root {
  height: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
}

.ant-table-placeholder {
  z-index: 100 !important;
}

@import '../../../node_modules/leaflet/dist/leaflet.css';
@import '../../../node_modules/leaflet-geosearch/dist/geosearch.css';
@import '../fonts/font.css';
@import 'common/common.css';
@import 'common/overrides.css';
@import 'common/components/returnHeader.css';
@import 'common/input/_customCheckboxGroup.css';
@import 'common/input/_customDropdownInput.css';
@import 'common/list/_dragAndDropTable.css';
@import 'common/map/_mapElement.css';
@import 'layout/_appLayoutView.css';
@import 'layout/_appLayoutViewHeader.css';
@import 'layout/_appLayoutViewSider.css';
@import 'layout/_fallbackView.css';
@import 'locale/_localePicker.css';
@import 'login/_loginView.css';
@import 'trip/_packingListCopyView.css';
@import 'trip/_packingListUpdateElement.css';
@import 'trip/_tripCreateView.css';
@import 'trip/_tripSettingsView.css';
@import 'trip/_weatherView.css';
@import 'trip/common/_tripCard.css';
@import 'trip/itinerary/_itineraryView.css';
@import 'trip/itinerary/create/_itineraryCreateView.css';
@import 'trip/itinerary/create/_itineraryDurationView.css';
@import 'trip/itinerary/create/_itineraryStopsView.css';
@import 'trip/itinerary/schedule/_schedule.css';
@import 'trip/itinerary/update/_itineraryMapUpdateView.css';
