.itineraryDurationView__tableContainer {
  overflow: auto;
  height: 100%;
  border: 2px solid #f0f0f0;
  border-radius: 4px;
}

.itineraryDurationView__tableContainer .ant-table-tbody > tr:last-child > td {
  border: none;
}
