.itineraryDurationView__input {
    width: 4vw;
}

.itineraryDurationView__content {
    height: 80%;
}

.itineraryDurationView__tableContainer {
    overflow: auto;
    height: 100%;
    border: 1px solid #f0f0f0;
    border-radius: 8px;
}