.packingListCreateView__radioButton {
    margin-right: 2vw;
    width: 10rem;
    height: 10rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-start-start-radius: 6px;
    border-end-start-radius: 6px;
    border-start-end-radius: 6px;
    border-end-end-radius: 6px;
    padding: 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.packingListCreateView__radioButton::before {
    visibility: hidden;
}

.packingListCreateView__radioButton:hover {
    background-color: #6096ba !important;
    border-color: #6096ba !important;
}

/** target all children*/
.packingListCreateView__radioButton * {
    width: 100%;
}

.packingListCreateView__reminderIcon {
    height: 8rem
}

.packingListCreateView__radioButton:hover>*>*, .ant-radio-button-wrapper-checked.packingListCreateView__radioButton>*>* {
    color: white !important;
}