.sightseeingStopsSelectView__locationList {
    overflow: auto;
    height: 44.5vh;
}

.sightseeingStopsSelectView__listItem {
    cursor: pointer;
}

.sightseeingStopsSelectView__mapContainer {
    height: 50vh;
}