.appLayoutView__header {
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  height: 4rem;
  display: flex;
}
@media (max-width: 768px) {
  .appLayoutView__screen-lg {
    display: none;
  }
  .appLayoutView__header {
    padding-right: 0 !important;
    padding-left: 10px !important;
  }
}
@media (min-width: 769px) {
  .appLayoutView__screen-md {
    display: none;
  }
}
