.pageLayoutViewHeader__imgContainer {
  padding: 0.5rem;
  height: 4rem;
}
.pageLayoutViewHeader__img {
  height: 100%;
  object-fit: contain;
}

.pageLayoutViewHeader__menuContainer {
  display: flex;
  justify-content: center;
}

li:has(button.pageLayoutViewHeader__button)::after {
  border: none !important;
}
