.firstStep__formCol {
    width: 30vw;
}

@media only screen and (max-width: 600px) {
    .firstStep__formCol {
        width: 100%;
    }
}

.firstStep__mapCol {
    margin-left: 5vw;
}

@media only screen and (max-width: 600px) {
    .firstStep__mapCol {
        margin: 0;
    }
}