.homeLayoutViewSider_menu {
  width: 100% !important;
  background-color: inherit;
  color: inherit;
}

.homeLayoutViewSider_menuItem {
  margin: 0 !important;
  width: 100% !important;
  border-radius: 0 !important;
  height: 3rem !important;
}

.homeLayoutViewSider_menuItem.ant-menu-item-selected, .homeLayoutViewSider_menuItem:active {
  background-color: #82ACC8 !important;
  color: #fff !important;
  border-left: 4px white solid !important;
}


.homeLayoutViewSider_menuItem:hover {
  color: #fff !important;
}