.homeLayoutViewHeader__tripTitle{
    color: #AD7434  !important;
    cursor: text;
    margin: 0 !important;
}

.homeLayoutViewHeader__tripTitle:hover{
    background-color: rgb(244, 244, 244);
    border-radius: 2px;
}