.homeLayoutView__header {
  color: #fff;
  background-color: #274C77;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  height: 5rem;
  display: grid;
  align-items: center;
  padding-left: .5rem;
  padding-right: 1rem;
}

.homeLayoutView__content {
  color: #000000 !important;
  background-color: #E7ECEF !important;
  display: flex;
}

.homeLayoutView__contentPanel {
  margin: 2vw;
  padding: 2vw;
  background-color: #fff;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.homeLayoutView__sider {
  color: #fff;
  background-color: #6096BA !important;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.2);
}