.homeLayoutView__header {
  color: #fff;
  height: 5rem;
  background-color: #274C77;
  display: grid;
  align-items: center;
  padding-left: .5rem;
  padding-right: 1rem;
}

.homeLayoutView__content {
  color: #000000 !important;
  background-color: #E7ECEF !important;
}

.homeLayoutView__sider {
  color: #fff;
  background-color: #6096BA !important;
}

.homeLayoutView__createTripModal {
  width: 40vw !important;
}