.customDropdownInput>*>*>*>*>*>*>button:nth-child(2) {
    display: none;
}

.customDropdownInput__notFoundContentRender {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.customDropdownInput__deleteButton {
    border: none;
    background-color: inherit;
}